
h1{
    color: blue;
}

h1#principal{
    text-align: center;
    background-color: black;
}

h2{
    color:blue;
    text-align: center;
}

p{
    text-indent: 12px;
}

.basico{
    color: rgba(49, 179, 49, 0.685);
}

.intermediario{
    color: rgba(190, 190, 14, 0.808);
}

.avancado{
    color: rgba(187, 22, 22, 0.829);
}

.destaque{
    background-color: rgba(0, 0, 0, 0.637);
}