

body{
    margin: 0px;
    background-color: #80fa89c5;
}

h1{
    margin: 0px;
}

header{
    margin: 0px;
    background-image:linear-gradient( to top, #0E5225, #3FB047);
    text-align: center;
    
}

header > h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    color: white;
}

header > p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

header > nav{
    text-align: left;
}

nav > a{
    color: #ffffff;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    text-decoration: none;
}

article{
    background-color: #80fa89c5;
}

article > section#androide{
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 1px 4px 6px 3px rgba(0, 0, 0, 0.63);
    margin: 0px 50px 0px 50px;
    padding-bottom: 5px;
    background-color: white;
    
}

section#androide > h1{
    color: #158039;
    padding-top: 12px;
}

section#androide > h2{
    margin: 0px 10px 0px 10px;

    background-image: linear-gradient(to left, #b1f5b3be , #d6f1d754 );
    color: #158039;
    background-color: #1ae928a8;
}

section#androide > p{
    text-indent: 30px;
}

div{
    background-color: #0E5225;
}

section#androide > iframe{
    width: 330px;
    height: 400px;
}

.informacoes{
    background-color: #80fa89c5;
    border-radius: 5px ;
    box-sizing: border-box;
    margin: 5px 10px 5px 10px;
}

.informacoes > h1{
    color: white;
    border-radius: 5px;
    background-color: #0E5225;
}

.informacoes > p{
    text-indent: 30px; 

}

p > a{
    font-weight: bold;
    color: #0E5225;
}

footer{
    text-align: center;
    background-color: #0E5225;
    margin: 10px 0px 0px 0px ;
}

footer > strong{
    color: white;
}

footer > p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin: 0px;
}

