@charset "UTF-8";

@media screen and (min-width: 768px) {
    #icone {
        display: none;
    }

    menu {
        display: block;
    }
    
    menu > ul > li {
        display: inline-block;
    }

    menu a {
        background-color: gray;
        border-top: none;
        border-radius: 20px;
    }

    main {
        width: 768px;
    }
}